.header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 15000;
  height: 7rem;
  display: flex;
  flex-direction: column;
  background: none;
}
.nav {
  height: 7rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #290082;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}

.logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 12%;
}

.navItem {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.navItem > a {
  color: #fff;
  text-decoration: none;
}

.smallItem {
  display: none;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: #fff;
}

@media screen and (max-width: 1200px) {
  .navList {
    flex-basis: 14%;
  }
}
@media screen and (max-width: 1024px) {
  .navList {
    flex-basis: 17%;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 0 4rem;
  }

  .navList {
    flex-basis: 12%;
  }
  .navItem {
    display: none;
  }

  .smallItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 480px) {
  .navList {
    flex-basis: 15%;
  }
}
@media screen and (max-width: 380px) {
  .navList {
    flex-basis: 22%;
  }
}
