.item {
  position: relative;
  grid-column: span 1;
  height: 34rem;
  cursor: pointer;
}

.loader {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 0.2rem solid #af98dd;
  border-right-color: #3e0da1;
  border-radius: 50%;
  animation: loading 0.5s linear infinite;
}
.saveBtn {
  position: absolute;
  z-index: 1500;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  height: 3.5rem;
  background-color: #deceff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: #3e0da1;
}

.item:hover .saveBtn {
  opacity: 1;
  visibility: visible;
}

.item:hover .shadow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
}

.image {
  position: relative;
  height: 80%;
  width: 100%;
  margin-bottom: 0.7rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

.picture {
  width: 100%;
  height: 100%;
}

.author {
  height: 5%;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.title {
  height: 5%;
  font-size: 1.3rem;
}

/*-----------------------------*/
.imageSketleton {
  background-color: #c7c7c7;
  height: 82%;
}

.authorSketleton {
  background-color: #c7c7c7;
  height: 5%;
  width: 70%;
}

.titleSketleton {
  background-color: #c7c7c7;
  height: 5%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
