.container {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filterItem {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #ebe7e7;
  color: #777777;
  font-weight: 700;
  margin-right: 2rem;
  border-radius: 10rem;
  cursor: pointer;
}

.itemSelected {
  background-color: #ffe2e7;
  color: #f70c33;
}
@media screen and (max-width: 600px) {
  .filterItem {
    margin-bottom: 1rem;
  }
}
