.page {
  position: relative;
  height: 92%;
  padding-top: 8rem;
}

.container {
  margin: auto;
  background-color: #fff;
  min-height: 15rem;
  width: 45rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
